In [4]:
import pandas as pd
from io import StringIO

csv_data = '''A,B,C,D
1.0,2.0,3.0,4.0
5.0,6.0,,7.0
10.0,11.0,12.0'''

df = pd.read_csv(StringIO(csv_data))
# column을 기준으로 nan값 없애기
df.dropna(axis=1,inplace=True)
df

      A     B
0   1.0   2.0
1   5.0   6.0
2  10.0  11.0

In [7]:
csv_data = '''A,B,C,D
1.0,2.0,3.0,4.0
5.0,6.0,,7.0
10.0,11.0,12.0'''

df = pd.read_csv(StringIO(csv_data))
# if all attribute value is NaN, then delete instance
df.dropna(how="all",inplace=True)
df

      A     B     C    D
0   1.0   2.0   3.0  4.0
1   5.0   6.0   NaN  7.0
2  10.0  11.0  12.0  NaN

In [8]:
csv_data = '''A,B,C,D
1.0,2.0,3.0,4.0
5.0,6.0,,7.0
10.0,11.0,12.0'''

df = pd.read_csv(StringIO(csv_data))
# if at lease 4 attribute value is NaN, then delete instance
df.dropna(thresh=4,inplace=True)
df

     A    B    C    D
0  1.0  2.0  3.0  4.0

In [9]:
csv_data = '''A,B,C,D
1.0,2.0,3.0,4.0
5.0,6.0,,7.0
10.0,11.0,12.0'''

df = pd.read_csv(StringIO(csv_data))
# if 'C' attribute value is NaN, then delete instance
df.dropna(subset=['C'],inplace=True)
df

      A     B     C    D
0   1.0   2.0   3.0  4.0
2  10.0  11.0  12.0  NaN

In [11]:
csv_data = '''A,B,C,D
1.0,2.0,3.0,4.0
5.0,6.0,,7.0
10.0,11.0,12.0'''

df = pd.read_csv(StringIO(csv_data))
# fill attribute values mean
df.fillna(df.mean(),inplace=True)
df

      A     B     C    D
0   1.0   2.0   3.0  4.0
1   5.0   6.0   7.5  7.0
2  10.0  11.0  12.0  5.5

In [3]:
from sklearn.tree import DecisionTreeClassifier
tree = DecisionTreeClassifier(criterion='entropy', max_depth=3. random_state=0)
tree.fit(X_train,y_train)

SyntaxError: invalid syntax (<ipython-input-3-02c13e9ea852>, line 2)